@model MyCoreApp.Models.Smsbilgi

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Smsbilgi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Smsuser" class="control-label"></label>
                <input asp-for="Smsuser" class="form-control" />
                <span asp-validation-for="Smsuser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Smspass" class="control-label"></label>
                <input asp-for="Smspass" class="form-control" />
                <span asp-validation-for="Smspass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Smsno" class="control-label"></label>
                <input asp-for="Smsno" class="form-control" />
                <span asp-validation-for="Smsno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Smsapi" class="control-label"></label>
                <input asp-for="Smsapi" class="form-control" />
                <span asp-validation-for="Smsapi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dis" class="control-label"></label>
                <input asp-for="Dis" class="form-control" />
                <span asp-validation-for="Dis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

