@model MyCoreApp.Models.Radippool

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Radippool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PoolName" class="control-label"></label>
                <input asp-for="PoolName" class="form-control" />
                <span asp-validation-for="PoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Framedipaddress" class="control-label"></label>
                <input asp-for="Framedipaddress" class="form-control" />
                <span asp-validation-for="Framedipaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nasipaddress" class="control-label"></label>
                <input asp-for="Nasipaddress" class="form-control" />
                <span asp-validation-for="Nasipaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calledstationid" class="control-label"></label>
                <input asp-for="Calledstationid" class="form-control" />
                <span asp-validation-for="Calledstationid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Callingstationid" class="control-label"></label>
                <input asp-for="Callingstationid" class="form-control" />
                <span asp-validation-for="Callingstationid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryTime" class="control-label"></label>
                <input asp-for="ExpiryTime" class="form-control" />
                <span asp-validation-for="ExpiryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolKey" class="control-label"></label>
                <input asp-for="PoolKey" class="form-control" />
                <span asp-validation-for="PoolKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Port" class="control-label"></label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

